@font-face {
    font-family: "ProximaNova-Regular";
    src: url("../fonts/ProximaNova-Regular.ttf");
}
.about_us_block {
    width: 100vw;
    height: 100vh;
    padding-top: 7%;
    background: url("../images/background.png");
    background-size: auto 100vh;
    font-family: "ProximaNova-Regular";
}
h1 {
    margin-bottom: 1%;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 4.5vh;
}
.p_head {
    width: 40%;
    text-align: center;
    margin: 0 auto;
    color: rgba(238, 236, 236, 0.5);
    font-size: 2vh;
    line-height: 160%;
} 
.members {
    text-align: center;
    margin-top: 7%;
    margin-bottom: 5%;
}
.member {
    width: 15%;
    display: inline-block;
} 
img {
    width: 43%;
    border-radius: 50%;
    margin-bottom: 5%;
}
figcaption {
    margin-bottom: 2vh;
    color: white;
    font-size: 2.7vh;
    font-weight: bold;
}
.p_member {
    text-align: center;
    color: rgba(238, 236, 236, 0.5);
    font-size: 2vh;
    line-height: 170%;
}
.button {
    width: 11vw;
    height: 5.5vh;
    margin: 0 auto;
    text-align: center;
    padding: 1vh;
    border-radius: 20vh;
    outline: none;
    border: none;
    background: linear-gradient(to right, rgb(54, 1, 54) 20%, rgba(245, 46, 245, 0.877));
}
a {
    text-decoration: none;
    color: white;
    font-size: 1.6vh;
}
