table, th, td { 
    border: 1px solid black;
    border-spacing: 0px;
    height: 50px;}
table{ 
    table-layout: fixed;
    width: 60%;
    margin: 10px auto;
}
th{
    height: 50px;}
td{
    text-align: left;
}
body {
    font-size: 25px;}
tr{
    text-align: center;

}