body{
    text-align: center;
    
}
h1{
    background: orange;
}
form{
    align-self: auto;
    width: 60%;
    background:yellow;
    display: block;
    margin-top: 0em;
}
div{
    display: flexbox;
    padding-bottom: 5px;
}
.fruitsperday{
    display: block;
    padding: 15px;
    text-align: center;
}