body {
    background: rgb(228, 227, 227);
}
.about_us {
    width: 35vw;
    height: 25vh;
    background: white;
    margin: 5vh auto;
    padding: 0 1vw 0 1vw;
    border: .5vh solid red;
    border-radius: 1.2vh;
    text-align: center;
}
h2 {
    text-transform: uppercase;
}
.line {
    width: 18vw;
    height: .3vh;
    background: rgb(228, 227, 227);
    margin: 0 auto;
}
.text {
    text-align: left;
}